################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ape_v1/.vs/ape/v15
/ape_v1/ape/.vs/ape/v15
/ape_v1/ape/Debug
/ape_v1/Debug
/ape_v1/ape_lib/Debug
